.container{
    width: 500px;
    height: 600px;
    padding: 1px;
    margin: 20px;
    border: 2px solid ;
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    grid-template-rows: repeat(6,1fr);
    gap: 5px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
   
    



}

.item1{
    grid-column-start: 1;
    grid-column-end: 6;
    background-color: rgb(0, 179, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}
.item2{
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: plum;
    display: flex;
    align-items:top;
    justify-content: center;

}
.item3{
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-end: 6;
    background-color: orange;
    display: flex;
    align-items:top;
    
    justify-content: center;
}
.item4{
    grid-row-start: 3;
    grid-row-end: 5;
    background-color: greenyellow;
    display: flex;
    align-items: center;
    justify-content: center;

}.item6{
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item7{
    background-color: pink;

}
.item8{
    background-color: rgba(255, 149, 0, 0.978);
    grid-column-start: 1;
    grid-column-end: 6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item5{
    background-color: grey;
    grid-column-start: 2;
    grid-column-end: 6;
    display: flex;
    align-items: center;
    justify-content: center;
}
