img{
    transition-property: all;
    margin: 10%;
    /* border-radius: 100px; */
    /* padding-left: 10px; */
    /* background-color: black;
    border-color: black; */
    border: 50px solid black;
   
   


}